*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Kode Mono", serif;
    src: url(/KodeMono-VariableFont_wght.ttf);

}
h1{
    
    background-color: rgba(0, 204, 255, 0.904);
    color: white;
    padding: 20px;
    text-align: center;

}
nav ul{
    background-color: rgba(0, 225, 255, 0.904);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav ul{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: rgb(236, 233, 233);
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;
}
body {
    background-color: rgba(0, 204, 255, 0.904);;
}
h2{
    background-color: rgba(0, 255, 255, 0.904);
    color: white;
    padding: 20px;
    text-align: center;
}
p{
    text-decoration: none;
    color: white;
    text-align: center;
}
.estilo + img {
    display: inline-block;
    vertical-align: middle;
}

.estilo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.producto {
    text-align: center;  
}
.producto img {
    display: inline-block;  
    width: 190px;  
    margin: 0 10px;  
}
h3{
    color: white;
}
h3{
    text-align: center;
}



